<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
      <target 
        name="InfoLog" 
        xsi:type="File" 
        fileName="Manager_InfoLog.txt" 
        layout="${longdate} ${level} ${callsite:className=true:methodName=true} ${message}${exception:format=tostring}" 
      />
      <target 
        name="DebugLog" 
        xsi:type="File" 
        fileName="Manager_DebugLog.txt" 
        layout="${longdate} ${level} ${callsite:className=true:methodName=true} ${message}${exception:format=tostring}" 
      />
    </targets>

    <rules>
      <logger name="*" minlevel="Info" writeTo="InfoLog" />
      <logger name="*" minlevel="Debug" writeTo="DebugLog" />
    </rules>
</nlog>